absl-py==1.2.0
altair==4.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==4.1.0
blinker==1.5
bltk==1.2
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
comtypes==1.1.14
cssselect==1.1.0
cycler==0.11.0
Cython==0.29.28
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Django==4.1.1
django-tables2==2.4.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.1
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.8.0
flatbuffers==1.12
fonttools==4.36.0
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
#google-api-core==2.10.1
#google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
#google-cloud-vision==3.1.3
google-pasta==0.2.0
google-trans-new==1.1.9
#googleapis-common-protos==1.56.4
googletrans==3.0.0
grpcio==1.49.1
#grpcio-status==1.49.1
gTTS==2.2.4
h11==0.9.0
h2==3.2.0
h5py==3.7.0
hpack==3.0.0
hstspreload==2022.8.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.9.0
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.12.0
ipykernel==6.9.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.1
jedi==0.18.1
jieba3k==0.35.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.2.2
jupyter-core==4.10.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.2
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.6
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.2
mistune==0.8.4
#mysql-connector-python==8.0.30
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
nest-asyncio==1.5.5
newspaper3k==0.2.8
nltk==3.7
notebook==6.4.12
numpy==1.23.2
oauthlib==3.2.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
#pip==22.9.0
playsound==1.2.2
prometheus-client==0.14.1
prompt-toolkit==3.0.20
proto-plus==1.22.1
#protobuf==3.20.0
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydeck==0.7.1
pydub==0.25.1
Pygments==2.11.2
Pympler==1.0.1
pyparsing==3.0.4
pypiwin32==223
pyreadline==2.1
pyrsistent==0.18.0
pytesseract==0.3.10
python-crfsuite==0.9.8
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pywin32==302
pywinpty==2.0.2
PyYAML==6.0
pyzmq==23.2.0
regex==2022.8.17
requests==2.28.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.5.1
rsa==4.9
scikit-learn==1.1.2
scipy==1.9.0
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.97
setuptools==61.2.0
sgmllib3k==1.0.0
six==1.16.0
sklearn==0.0
sklearn-crfsuite==0.3.6
smart-open==6.1.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.2.0
streamlit==1.12.0
streamlit-chat==0.0.2.1
tabulate==0.8.10
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.6.0
threadpoolctl==3.1.0
tinysegmenter==0.3
tk==0.1.0
tldextract==3.3.1
tokenizers==0.12.1
toml==0.10.2
toolz==0.12.0
torch==1.12.1
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
transformers==4.21.2
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.11
validators==0.20.0
wasabi==0.10.1
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==4.0.2
wincertstore==0.2
wrapt==1.14.1
zipp==3.8.1
